
.App {
  text-align: center;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color:#282c34;
  color: white;
}

.nav-links{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  list-style: none;
  width: 100%;
  padding: 0px 10px;
  font-size: 2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color:Tomato;
  transition: 0.4s;
}
.nav-links:hover{
  color:lightgreen;
}

.nav-counter{
  position: relative;
  top:-10px;
  left:-5px;
  font-size: 0.8rem;
  margin:0px;
  padding: 0px 5px;
  background-color: red;
  color: whitesmoke;
  border-radius: 5px;
}