.cart-background{
    width: 100%;
    min-height: 400px;
    display:flex;
    justify-content: center;
}
.cart-base{
    width:50%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;

}

.cart-ul{
    width:100%;
    list-Style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cart-li{
    background-color: #999999;
    margin:10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-product-box{
    display: flex;

}

.cart-product-inner-box{
    width: 100%;
}

.buy-cart{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-button{
    outline: none;
    border: none;
    border-radius: 5px;
    margin:5px 10px;
    padding:10px 15px;
    color:rgb(214, 214, 214);
    background-color: green;
    transition: 0.4s;
}

.cart-button:hover{
    color:rgb(243, 243, 243);
    background-color: rgb(32, 187, 32);
}

.cart-button:disabled,
.cart-button[disabled]{
    outline: none;
    border: none;
    border-radius: 5px;
    margin:5px 10px;
    padding:10px 15px;
    color:rgb(95, 95, 95);
    background-color: rgb(49, 49, 49);
}

@media only screen and (max-width: 600px) {
    .cart-base{
        width:100%;    
    }
    
  }